/* تنسيق عام لجميع الصفحات */
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

/* تنسيق الهيدر */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header ul {
    text-align: left;
    padding-left: 20px;
}

header .logo {
    font-size: 30px;
    margin-right: 15px;
}

/* تنسيق الروابط في الهيدر */
header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* تنسيق القسم الأول (Banner) */
.banner {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.banner h1 {
    font-size: 36px;
}

.banner p {
    font-size: 20px;
}

/* تنسيق الـ main */
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 10%;
}

article {
    flex: 2;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* تنسيق قسم الاقتباسات */
blockquote {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 24px;
    color: #555555;
    border-left: 4px solid #4CAF50;
    padding-left: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

blockquote p {
    margin: 0;
}

blockquote footer {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    text-align: right;
    margin-top: 10px;
}

/* تنسيق الفيديوهات */
.videos-list {
    padding: 30px;
    background-color: #f9f9f9;
    text-align: center;
}

.videos-list h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.video-card {
    display: inline-block;
    width: 30%;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: left;
}

.video-card img {
    width: 100%;
    border-radius: 8px;
}

.video-card h3 {
    font-size: 22px;
    margin: 15px 0 10px 0;
}

.video-card p {
    font-size: 16px;
    color: #666;
}

/* تنسيق الفوتر */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
